body {
	background-color: #FFFF88;
}

h1{
	font-family:"ÇlÇr ÇoÉSÉVÉbÉN","ÇlÇr ÉSÉVÉbÉN",sans-serif;
	border-left: 10px solid #FF6600;
	border-bottom: 1px dashed #FF6600;
	display: inline-block;
	text-align: justify;
	margin-left: 10px;
}

.loginform{
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 10px;
	margin-left: 10px;
	background-color: white;
	height: 100%;
	width: 400px;
	padding: 20px;
}

.main-contents {
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 10px;
	margin-left: 10px;
	background-color: white;
	height: 100%;
	width: 800px;
	padding: 20px;

}

.main {
	margin: 0 auto;
	background-color: white;
	height: 100%;
	width: 800px;
	text-align: justify;
}

.header {
	text-align: left;
	background-color: white;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 10px;
	margin-left: 10px;
	height: 100%;
	width: 800px;
	padding: 20px;
	border-bottom: 5px double #FF9933;
}

.back{
	text-align: right;
}

.link{
	text-align: left;
}

.search{
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 10px;
	margin-left: 10px;
	background-color: white;
	height: 100%;
	width: 800px;
	padding: 20px;
}


.form-area {
	margin-top: 00px;
	margin-right: 00px;
	margin-bottom: 00px;
	margin-left: 00px;
	background-color: white;
}

.text{
	width:750px;
	word-wrap: break-word;
	font-size: 17px
}

.commenttext{
	width:450px;
	word-wrap: break-word;
	font-size: 17px
}

pre {
	overflow: auto;
	white-space: pre-wrap;
	word-wrap: break-word;
}

.message .date {
	font-weight: lighter;
	color: gray;
	font: small-caption;
}

.copyright {
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 10px;
	margin-left: 10px;
	background-color: #FFFF88;
	height: 100%;
	width: 800px;
	padding: 10px 300px;
}

.copyrightlogin{
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 10px;
	margin-left: 10px;
	background-color: #FFFF88;
	height: 100%;
	width: 400px;
	padding: 10px 125px;
}

label {
	display: block;
}

.errorMessages {
	margin-top: 10px;
	margin-right: 10px;
	margin-bottom: 10px;
	margin-left: 10px;
	color: red;
}

.compMessages {
	margin-top: 10px;
	margin-right: 10px;
	margin-bottom: 10px;
	margin-left: 10px;
	color: #0000CD;
}

.authorityMessages{
	margin-top: 10px;
	margin-right: 10px;
	margin-bottom: 10px;
	margin-left: 10px;
	color: red;
}

.searchMessages{
	margin-top: 10px;
	margin-right: 10px;
	margin-bottom: 10px;
	margin-left: 10px;
	color: red;
}

.color{
	margin-left: 300px;
	border:0;
	cellspacing:0;

}