<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>BulletinBoard</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>SignUpServlet</display-name>
    <servlet-name>SignUpServlet</servlet-name>
    <servlet-class>bulletin_board.controller.SignUpServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SignUpServlet</servlet-name>
    <url-pattern>/SignUpServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteArticles</display-name>
    <servlet-name>DeleteArticles</servlet-name>
    <servlet-class>bulletinBoard.controller.DeleteArticles</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteArticles</servlet-name>
    <url-pattern>/DeleteArticles</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StopedUserServlet</display-name>
    <servlet-name>StopedUserServlet</servlet-name>
    <servlet-class>bulletinBoard.controller.StopedUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StopedUserServlet</servlet-name>
    <url-pattern>/StopedUserServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>recoveryUserServlet</display-name>
    <servlet-name>recoveryUserServlet</servlet-name>
    <servlet-class>bulletinBoard.controller.recoveryUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>recoveryUserServlet</servlet-name>
    <url-pattern>/recoveryUserServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteUserServlet</display-name>
    <servlet-name>DeleteUserServlet</servlet-name>
    <servlet-class>bulletinBoard.controller.DeleteUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteUserServlet</servlet-name>
    <url-pattern>/DeleteUserServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchServlet</display-name>
    <servlet-name>SearchServlet</servlet-name>
    <servlet-class>bulletinBoard.controller.SearchServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchServlet</servlet-name>
    <url-pattern>/SearchServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteCommentSurvlet</display-name>
    <servlet-name>DeleteCommentSurvlet</servlet-name>
    <servlet-class>bulletinBoard.controller.DeleteCommentSurvlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteCommentSurvlet</servlet-name>
    <url-pattern>/DeleteCommentSurvlet</url-pattern>
  </servlet-mapping>
</web-app>